* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #202025;
  overflow-y: auto;
  font-family: inter;
  color: black;
  background: #202025;
}
